@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&family=Song+Myung&display=swap');

.hidden{
    display:none;
}

input{
    border-left-width:0;
    border-right-width:0;  
    border-top-width:0;
    border-bottom-width:1;
    background-color:transparent;
    border-color: white;

    width: 300px;
    height: 30px;
    font-size: 20px;
}
input:focus{
    outline:none;
}
input::placeholder{
    color:white;
}

#clock{
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#quote{
    position:fixed;
    bottom:5%;
    width:100%;
}
#quote span:first-child{
    font-size: 25px;
}
#quote span:last-child{
    font-size: 15px;
}
#todo-form{
    position:relative;
    bottom: 100px;
}
ul{
    position: relative;
    bottom: 100px;

    display:table;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
}

button{
    background-color:transparent;
    border-color:transparent;
}

#weather{
    position:absolute;
    top:30px;
    right: 30px;
}
#weather span:first-child{
    font-size: 25px;
}
#weather span:last-child{
    font-size: 20px;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
}
*{
    color:white;
    font-family: 'Song Myung', serif;
    text-align:center;
}